/.idea
/.pytest_cache
/.venv
/data.types.py
/DateCal.py
/DateCalculator1.py
/Employee.py
/Fibonacci.py
/hello.py
/leapyear.py
/linkedlistpractice.py
/meaning.py
/one.py
/Recursive.py
/requirements.txt
/scoping.js
/ShoppingCart.py
/StacksBasics.py
/test_
/venv
/welcome.py
/__pycache__